# Fichiers générés par R
.RData
.Rhistory
.Rproj.user/

# Fichiers temporaires
.Rcheck/
.Renviron
.Rprofile
.Renviron.site
.Rproj
*.Rproj
# Fichiers de sortie
*.Rout
*.Rout.save
data_raw/*
data_clean/*

# Fichiers de données volumineux
# *.csv
*.tsv
*.xlsx
*.xls
*.zip
*.gdp

# Fichiers de documentation
*.pdf
*.html
*.docx

# Fichiers de cache
.cache/
